@font-face {
	font-family: 'Alybaba';
	src: url('Alybabav3-Regular.ttf') format('truetype');
}

html, body {
	scroll-behavior: smooth;
	font-family: 'Alybaba', sans-serif;
	background: #FFE9C3;
	color: #1B1B1B;
	height: 100%;
	font-size: 30px;
	margin: 0;
	flex-direction: column;
}

h1 {
    text-align: center;
}

img {
    width: 15%;
    padding: 2%;
}

p {
    font-size: 45px;
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
}

.btn {
    height: 50px;
    width: 50px;
    background: #B08968;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.icone {
    width: 30px;
}

.author {
    font-size: 35px;
}


.Song_beige {
    background-color: #FFE9C3;
    padding-left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    color: #1B1B1B;
}

.Song_beige .Album_beige {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.Album_beige img {
    width: 40%;
    padding: 0;
    margin-bottom: -4%;
}

.Song_black {
    background-color: #1B1B1B;
    padding-right: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    color: #FFE9C3;
}

.Song_black p {
    margin-left: 5%;
}

.Song_black .Album_black {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.Song_black .text p:first-child {
    white-space: nowrap;
}

.Album_black img {
    width: 40%;
    padding: 0;
    margin-bottom: -4%;
}

audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-panel {
    background-color: #B08968;
    }