@font-face {
	font-family: 'Alybaba';
	src: url('Alybabav3-Regular.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
	scroll-behavior: smooth;
	font-family: 'Alybaba', sans-serif;
	background: #FFE9C3;
	color: #1B1B1B;
    width: 100%;
}

h1 {
    text-align: center;
}

.song_container_beige {
    background-color: #FFE9C3;
    color: #1B1B1B;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2% 5%;
    width: 100%;
    box-sizing: border-box;
}

.song_container_black {
    background-color: #1B1B1B;
    color: #FFE9C3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2% 5%;
    width: 100%;
    box-sizing: border-box;
}

.text_zone, .image_zone {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.album_zone {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.song_container_black {
    flex-direction: row-reverse;
}

p {
    font-size: 250%;
    margin: 0;
}

.author {
    font-size: 225%;
}

.album_zone img {
    width: 65%;
    max-width: 70%;
    margin-bottom: -2%;
}

.image_zone img {
    width: 60%;
    height: auto;
}

.beige {
    background-color: #FFE9C3;
    color: #1B1B1B;
}

.black {
    background-color: #1B1B1B;
    color: #FFE9C3;
}

audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-panel {
    background-color: #B08968;
    }

@media (max-width: 768px) {
    .song_container_beige, .song_container_black {
        flex-direction: column;
        padding: 20px;
    }

    .text_zone, .album_zone, .image_zone {
        width: 100%;
        margin-bottom: 20px;
    }

    .image_zone {
        order: 3;
    }
    .text_zone {
        order: 1;
    }
    .album_zone {
        order: 2;
    }
}

